<!DOCTYPE html>
<html>
<head>
    <title>Angular app</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="js/image-toggle.js"></script>
    <script src="js/like-button.js"></script>
    <script src="js/weather.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="TacoApp">
    what is 2 and 2? {{2+2}}
    <div class="container">
        <div class="row">
            <div ng-controller="TacoBuilder" class="col-xs-4">
                Hello, {{name}}
                <br><br>
                <input type="text" ng-model="name"><br>
                <ul>
                    <li ng-repeat="item in toppings">
                        {{item}}
                        <a href="" ng-click="removeTopping($index)">x</a>
                    </li>
                </ul>
                <input type="text" ng-model="newTopping">
                <button ng-click="addTopping()">Add topping</button>
            </div>  
            <div ng-controller="OtherThing" class="col-xs-8">

                <h3>Your location</h3>
                <weather></weather>

                <weather ng-repeat="city in weatherCities" location="{{city}}"></weather>
                <input type="text" ng-model="enteredCity">
                <button ng-click="weatherCities.push(enteredCity)" class="btn btn-primary">Get Weather</button>

                <hr>

                <like-button></like-button>
                <like-button starting-value="1"></like-button>
                <like-button starting-value="2"></like-button>
                <like-button starting-value="3"></like-button>
                <like-button starting-value="myStartingLikes"></like-button>

                <dislike-button></dislike-button>
                <dislike-button starting-value="1"></dislike-button>
                <dislike-button starting-value="2"></dislike-button>

                <hr>
                other thing
                <div>Happy? {{happy}}</div>
                <div ng-show="happy">ng-show ... I am happy</div>
                <div ng-hide="happy">ng-hide ... I am NOT happy</div>
                <div ng-if="happy">ng-if ... I am happy too.</div>

                <button class="btn" ng-click="happy = !happy" ng-class="myClass">Change happiness</button>
                <button class="btn" ng-click="changeClass()" ng-class="{'btn-primary':primary,'btn-xs':small}">Hello</button>
                <br><br>
                <image-toggle state="happy" on="images/happy_face.jpg" off="images/sad_face.jpg"></image-toggle>
            </div>
        </div>
    </div>
</body>
</html>